
<template name="weather">
    <div class="mdl-grid">
        {{#if weatherData.alerts.title}}
        <div class="mdl-cell mdl-cell--12-col">
            <div class="alert-card weather-card mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text"><a href="{{weatherData.alerts.url}}">{{weatherData.alerts.title}}</a> until {{formatTimestamp weatherData.alerts.expires}}<br /></h1>
                </div>
                <div class="mdl-card__supporting-text">
                    {{waatherData.alerts.description}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="mdl-cell mdl-cell--12-col">
            <div class="weather-card mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">Current Conditions<br /></h1>
                </div>
                <div class="mdl-card__supporting-text">
                    <h4>{{weatherData.data.currently.summary}}</h4>
                    <div class="temp-size">
                        <i class="wi {{convertIconName weatherData.data.currently.icon}} wi-fw"></i> {{roundNumber weatherData.data.currently.temperature}}<i class="wi wi-fahrenheit"></i>
                    </div>
                    <div class="detail-size">
                        Feels like {{roundNumber weatherData.data.currently.apparentTemperature}}<i class="wi wi-fahrenheit"></i>
                        <br /><br /><i class="wi wi-{{precipitationIcons weatherData.data.currently.precipProbability}}"></i> {{precipitationWords weatherData.data.currently.precipProbability}}  &nbsp;&nbsp;&nbsp;<i class="wi wi-wind wi-towards-{{windDirectionClass}}"></i> {{roundNumber weatherData.data.currently.windSpeed}}mph {{windDirection}}
                        <!-- TODO: Change the icon based on time -->
                        <br /><br /><i class="wi wi-sunset"></i> {{formatTimestamp weatherData.data.currently.time}}
                    </div>
                </div>
            </div>
        </div>
        <div class="hourly-table mdl-cell mdl-cell--6-col mdl-shadow--4dp table-full-width">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric table-full-width">Hourly Forcast</th>
                        <th class="mdl-data-table__cell--non-numeric">Condition</th>
                        <th class="mdl-data-table__cell--non-numeric"><i class="wi wi-fahrenheit"></i></th>
                        <th class="mdl-data-table__cell--non-numeric">Precipitation</th>
                        <th class="mdl-data-table__cell--non-numeric">Wind</th>
                    </tr>
                </thead>
                <tbody>
                  {{#each hourWeather in getNext12 weatherData.data.hourly.data}}
                      <tr>
                          <td class="mdl-data-table__cell--non-numeric">{{formatTimestampToHour hourWeather.time}}</td>
                          <td class="mdl-data-table__cell--non-numeric"><i class="wi {{convertIconName hourWeather.icon}} wi-fw"></i> {{hourWeather.summary}}</td>
                          <td>{{roundNumber hourWeather.temperature}}<i class="wi wi-fahrenheit"></i></td>
                          <td>{{roundNumber hourWeather.precipProbability}}%</td>
                          <td>{{roundNumber hourWeather.windSpeed}}mph</td>
                      </tr>
                  {{/each}}
                </tbody>
            </table>
        </div>
        {{#each dayWeather in weatherData.data.daily.data}}
        <div class="mdl-cell mdl-cell--4-col">
            <div class="{{getColorStyle roundNumber dayWeather.temperatureMax}} out-of-focus-card mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">{{getDayNameFromTime dayWeather.time}}<br /></h1>
                </div>
                <div class="mdl-card__supporting-text">
                    <h5>{{dayWeather.summary}}</h5>
                    <div class="oof-size">
                        <i class="wi {{convertIconName dayWeather.icon}} wi-fw"></i> {{roundNumber dayWeather.temperatureMax}}<i class="wi wi-fahrenheit"></i> / {{roundNumber dayWeather.temperatureMin}}<i class="wi wi-fahrenheit"></i>
                    </div>
                    <div class="detail-size">
                        <br />
                        <i class="wi wi-{{precipitationIcons dayWeather.precipProbability}}"></i> {{precipitationWords dayWeather.precipProbability}}
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</template>
