<template name="home">
      <!-- MDL Fixed Layout Container -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header header-bg">
      <!-- Header Container -->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title  of Header -->
          <span class="mdl-layout-title">Weather<span class="development-tag">ALPHA</span></span>
        </div>
        <!-- Tab Bar Container , and Tab links -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect header-bg" style="background: #006633;">
            <a id="fairfax-tab-button" href="#weather" class="mdl-layout__tab is-active">Fairfax</a>
            <a id="arlington-tab-button" href="#weather" class="mdl-layout__tab">Arlington</a>
            <a id="scitech-tab-button" href="#weather" class="mdl-layout__tab">SciTech</a>
            <a id="korea-tab-button" href="#weather" class="mdl-layout__tab">Mason Korea</a>
        </div>
      </header>
        <!-- MDL Layout Header -->
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="weather">
          <div class="page-content">
            <div class="page-content">{{> weather}}</div>
          </div>
        </section>
        {{> footer}}
      </main>
    </div>
</template>
