/* CSS declarations go here */
.bg {
    background-color: #dedede;
}
.header-bg > .mdl-layout__header,
.header-bg > .mdl-layout__header-row,
.header-bg > .mdl-layout__drawer,
.header-bg > .mdl-layout__tab-bar,
.header-bg > .mdl-layout__tab {
    background-color: #006633;
}
.development-tag {
    vertical-align: super;
    font-size: 60%;
}
.temp-size {
    font-size: 32pt;
}
.detail-size {
    font-size: 16pt;
}
.oof-size {
    font-size: 24pt;
}

.weather-card.mdl-card {
    margin: auto;
    width: auto;
    background: #425195;
}
.weather-card > .mdl-card__title,
.weather-card > .mdl-card__supporting-text {
  color: #fff;
}

.alert-card.mdl-card {
    margin: auto;
    width: auto;
    background: #ee1111;
}

.forecast-grid.mdl-grid {

}
.out-of-focus-card.mdl-card {
    margin: auto;
    width: auto;
    /* height: 30px; */
}

.hourly-table.mdl-data-table {
    width: auto;
    margin: auto;
}

.table-full-width {
    width: 100%;
}

.degree0.mdl-card {
    background-color: #6b469c;
}
.degree10.mdl-card {
    background-color: #a0c9c1;
}
.degree20.mdl-card {
    background-color: #3ec2cf;
}
.degree30.mdl-card {
    background-color: #007dc5;
}
.degree40.mdl-card {
    background-color: #425195;
}
.degree50.mdl-card {
    background-color: #a39382;
}
.degree60.mdl-card {
    background-color: #ffcc33;
}
.degree70.mdl-card {
    background-color: #f7941e;
}
.degree80.mdl-card {
    background-color: #f37021;
}
.degree90.mdl-card {
    background-color: #ac1d37;
}
.degree100.mdl-card {
    background-color: #a62380;
}
.mdl-layout__tab-bar-right-button {
    background-color: #006633;
}
.mdl-layout__tab-bar-left-button {
    background-color: #006633;
}
