/* CSS declarations go here */
.bg {
    background-color: #dedede;
}
.header-bg > .mdl-layout__header,
.header-bg > .mdl-layout__header-row,
.header-bg > .mdl-layout__drawer,
.header-bg > .mdl-layout__tab-bar,
.header-bg > .mdl-layout__tab {
    background-color: #006633;
}

.temp-size {
    font-size: 32pt;
}
.detail-size {
    font-size: 16pt;
}
.oof-size {
    font-size: 24pt;
}

.weather-card.mdl-card {
    margin: auto;
    width: auto;
    background: #425195;
}
.weather-card > .mdl-card__title,
.weather-card > .mdl-card__supporting-text {
  color: #fff;
}

.alert-card.mdl-card {
    margin: auto;
    width: auto;
    background: #ee1111;
}

.forecast-grid.mdl-grid {

}
.out-of-focus-card.mdl-card {
    margin: auto;
    width: auto;
    /* height: 30px; */
}

.hourly-table.mdl-data-table {
    width: auto;
    margin: auto;
}

.table-full-width {
    width: 100%;
}

.degree0.mdl-card {
    background-color: #000000;
}
.degree10.mdl-card {
    background-color: #222222;
}
.degree20.mdl-card {
    background-color: #444444;
}
.degree30.mdl-card {
    background-color: #666666;
}
.degree40.mdl-card {
    background-color: #777777;
}
.degree50.mdl-card {
    background-color: #888888;
}
.degree60.mdl-card {
    background-color: #999999;
}
.degree70.mdl-card {
    background-color: #aaaaaa;
}
.degree80.mdl-card {
    background-color: #bbbbbb;
}
.degree90.mdl-card {
    background-color: #dddddd;
}
.degree100.mdl-card {
    background-color: #ffffff;
}
.mdl-layout__tab-bar-right-button {
    background-color: #006633;
}
.mdl-layout__tab-bar-left-button {
    background-color: #006633;
}
