/* CSS declarations go here */
.temp-size {
    font-size: 32pt;
}

.oof-size {
    font-size: 24pt;
}

.weather-card.mdl-card {
    margin: auto;
    margin-top: 10px;
    width: auto;
    height: 250px;
    background: #425195;
}
.weather-card > .mdl-card__title,
.weather-card > .mdl-card__supporting-text {
  color: #fff;
}

.forecast-grid.mdl-grid {
    width: 80%;
}
.out-of-focus-card.mdl-card {
    margin: auto;
    margin-top: 10px;
    width: auto;
    height: 30px;
}
