/* CSS declarations go here */
.bg {
    background-color: #dedede;
}

.temp-size {
    font-size: 32pt;
}

.oof-size {
    font-size: 24pt;
}

.weather-card.mdl-card {
    margin: auto;
    width: auto;
    background: #425195;
}
.weather-card > .mdl-card__title,
.weather-card > .mdl-card__supporting-text {
  color: #fff;
}

.forecast-grid.mdl-grid {
    
}
.out-of-focus-card.mdl-card {
    margin: auto;
    width: auto;
    height: 30px;
}
