<template name="footer">
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">SRCT Weather</div>
        </div>
        <div class="mdl-mini-footer__right-section" style="align: right">
            A project of Mason <a href="http://srct.gmu.edu/"><strong>SRCT</strong></a>, a registered student org.
            <br />Read and <a href="https://git.gmu.edu//srct/weather/milestones/">contribute</a>
            to our <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">freely-licensed</a>
            <a href="http://git.gmu.edu/srct/weather/" target="_blank">source code</a>.
        </div>
    </footer>
</template>
