//Template file for secrets.js
//Duplicate this file and name it 'secrets.js'
//Replace 'YOUR_API_KEY_HERE' with your Forcast.io API key
//You can get an API key at https://darksky.net/dev/
//(Dark Sky's API was formerly called Forecast.io)
Meteor.startup(function () {
  process.env.API_KEY = 'YOUR_API_KEY_HERE';
});
